<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSW.CombatTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TSW.CombatTracker.Properties.Settings>
            <setting name="TSWFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
        </TSW.CombatTracker.Properties.Settings>
    </userSettings>
</configuration>